@model IEnumerable<spor_sitesi.Models.Hizmet>

<h2>Hizmetler</h2>

<table>
    <thead>
        <tr>
            <th>Ad</th>
            <th>Süre (dk)</th>
            <th>Ücret</th>
            <th>Max Kişi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.SureDakika</td>
                <td>@item.Ucret</td>
                <td>@item.MaxKisiSayisi</td>
            </tr>
        }
    </tbody>
</table>
