@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                <button type="submit">Çıkış</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Login">Giriş</a>
        </li>
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
        </li>
    }
</ul>
